<div class="p-4">
  <h1>Present continuous - Hiện tại tiếp diễn</h1>
  <div class="text-center mb-4">
    <iframe class="inline-block" width="560" height="315" src="https://www.youtube.com/embed/ZZtHS_NU-5g"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <mat-tab-group>
    <mat-tab label="1. Cách dùng">
      <mat-card class="mt-2">
        1. Diễn tả 1 hành động đang xảy ra tại thời điểm nói.<br>
        For example: I'm talking with you.<br><br>

        2.Diễn tả 1 hành động đang xảy ra nhưng không nhất thiết diễn ra ngay lúc nói.<br>
        For example: I'm working for VNG Company.<br><br>

        3.Diễn tả những hành động có kế hoạch sắp xảy ra trong tương lai gần.<br>
        For example: I'm meeting you tonight.<br><br>

        4.Hành động thường xuyên lặp đi lặp lại gây sự bực mình hay khó chịu cho người nói.<br>
        For example: He is always losing his key
      </mat-card>

    </mat-tab>
    <mat-tab label="2. Cấu trúc">
      <mat-card class="mt-2">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip color="primary" selected>
            (+) S + is/am/are + V-ing
          </mat-chip>
          <mat-chip color="secondary" selected>
            (-) S + is/am/are + not + V-ing
          </mat-chip>
          <mat-chip color="accent" selected>
            (?) is/am/are + S + V-ing ?
          </mat-chip>
        </mat-chip-list>
      </mat-card>
    </mat-tab>
    <mat-tab label="3. Nguyên tắc thêm V-ing">
      <mat-card class="mt-2">
        1. Thông thường, chúng ta chỉ việc thêm đuôi "-ing" vào sau động từ.<br>
        For example: learn => learning, look => looking, work => working, sing => singing<br><br>

        2.Động từ tận cùng bằng "e", ta bỏ "e" rồi mới thêm "ing"<br>
        For example: take => taking, dance => dancing, make => making, ride => riding<br><br>

        3. Động từ tận cùng bằng "ee", chỉ việc thêm "ing"<br>
        For example: see => seeing, age => ageing, agree => agreeing, free => freeing<br><br>

        4. Động từ tận cùng bằng "ie", ta biến "ie" thành "y" rồi thêm "ing".<br>
        For example: lie => lying, die => dying (I'm dying = tao đang chết dần chết mòn)<br><br>

        <i><u>Động từ tận cùng bằng "y" vẫn giữ nguyên khi thêm "ing"</u></i> <br>
        For example: Carry => carrying, Stay => staying<br><br>

        <b>* Quy tắc gấp đôi phụ âm cuối khi thêm "ing"</b> <br>
        5. Với động từ 1 âm tiết, tận cùng bằng "Nguyên âm + Phụ âm" (Trừ h, w, x, y), ta gấp đôi phụ âm và thêm
        "ing"<br>
        For example: win => winning, stop => stopping<br><br>

        6. Với động từ 2 vần, trọng âm rơi vào âm tiết cuối, tận cùng bằng "nguyên âm + phụ âm", ta gấp đôi phụ âm và
        thêm "ing"<br>
        For example: Prefer(pre'fer) => preferring, begin(be'gin) => beginning<br><br>

        7. Với 3 động từ tận cùng là "C", bạn phải thêm chữ "K" ở cuối rồi mới thêm "ing"<br>
        For example: Traffic => trafficking, Mimic => mimicking, Panic => panicking.
      </mat-card>
    </mat-tab>
    <mat-tab label="4. Trạng từ thường">
      <mat-card class="mt-2">
          - <b>At the moment</b>, <b>Now</b>, <b>Right now</b>, <b>At present</b>. Đây là những dấu hiệu nhận biết của thì hiện tại tiếp diễn.
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>
