<div class="p-4">
  <h1>Simple past - Quá khứ đơn</h1>
  <div class="text-center mb-4">
    <iframe class="inline-block" width="560" height="315" src="https://www.youtube.com/embed/UQ51d8QFtxU"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <mat-tab-group>
    <mat-tab label="1. Cách dùng">
      <mat-card class="mt-2">
        1. Thì quá khứ đơn diễn tả 1 hành động đã xảy ra và chấm dứt hoàn toàn trong quá khứ.<br>
        For example: I was born in 1994.<br><br>

        2. Thì quá khứ đơn diễn tả các hành động xảy ra liên tiếp trong quá khứ.<br>
        For example: Last night, I came home, had dinner and watched TV<br><br>

        3. Thì quá khứ đơn diễn tả một thói quen trong quá khứ.<br>
        For example: I used to play soccer with my friends when I was young<br><br>
      </mat-card>

    </mat-tab>
    <mat-tab label="2. Cấu trúc">
      <mat-card class="mt-2">
        <h1>1. Với động từ to be</h1>
        <div class="mb-4">
          <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip color="primary" selected>
              (+) S + was/were + O
            </mat-chip>
            <mat-chip color="secondary" selected>
              (-) S + was/were + not + O
            </mat-chip>
            <mat-chip color="accent" selected>
              (?) was/were + S + O ?
            </mat-chip>
          </mat-chip-list>
        </div>

        <h1>1. Với động từ thường</h1>
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip color="primary" selected>
            (+) S + V_ed/Vp1 + O/C
          </mat-chip>
          <mat-chip color="secondary" selected>
            (-) S + did + not + V + O/C
          </mat-chip>
          <mat-chip color="accent" selected>
            (?) Did + S + V + O/C ?
          </mat-chip>
        </mat-chip-list>
      </mat-card>
    </mat-tab>
    <mat-tab label="3. Cách phân loại động từ">
      <mat-card class="mt-2">
        1. Động từ có quy tắc.<br>
        (thêm đuôi "ed": V + ed = Ved)<br>
        For example: Visit => Visited, Play = Played, Watch = Watched<br><br>

        2. Động từ bất quy tắc.<br>
        (phải học thuộc lòng)<br>
        For example: Run => Ran, Sing = Sang, Go = Went<br><br>

      </mat-card>
    </mat-tab>
    <mat-tab label="4. Trạng từ thường gặp">
      <mat-card class="mt-2">
        _In + Mốc thời gian<br>
        For example: In 1994<br><br>

        _Last<br>
        For example: Last week<br><br>

        _Khoảng thời gian + ago<br>
        For example: one month ago<br><br>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>
