<div class="p-4">
  <h1>Noun - Danh từ</h1>
  <div class="text-center mb-4">
    <iframe class="inline-block" width="560" height="315" src="https://www.youtube.com/embed/9uE7dWl-Gk8"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <mat-tab-group>
    <mat-tab label="1. Định nghĩa">
      <mat-card class="mt-2">
        <p>
          Danh từ (Noun) là từ dùng để gọi tên của một loại sự vật, sự vật đó có thể là người, con vật, đồ vật, hiện
          tượng,
          địa điểm hay khái niệm. Danh từ được xem là một trong những từ loại quan trọng nhất trong tiếng Anh, nên người
          học
          cần tích lũy càng nhiều từ vựng về danh từ càng tốt.
        </p>
        <p>Ví dụ về danh từ trong tiếng Anh</p>
        <ul class="list-disc pl-4">
          <li>
            Các danh từ chỉ người trong tiếng Anh: he (anh ấy), doctor (bác sỹ), the men (đàn ông),…
          </li>
          <li>Danh từ chỉ con vật: dog (con chó), cat (con mèo), pet (thú cưng)…</li>
          <li>Danh từ chỉ vật trong tiếng Anh: money (tiền), table (cái bàn), computer (máy tính),…</li>
          <li>Danh từ chỉ hiện tượng: storm (cơn bão), earthquake (động đất),…</li>
          <li>Danh từ chỉ địa điểm: school (trường học), office (văn phòng),…</li>
          <li>Danh từ chỉ khái niệm: culture (văn hóa), presentation (thuyết trình), experience (kinh nghiệm)…</li>
        </ul>
      </mat-card>

    </mat-tab>
    <mat-tab label="2. Phân loại">
      <mat-card class="mt-2">
        <p class="font-bold">
          Danh từ theo số lượng:
        </p>
        <ul class="list-disc pl-4 mb-4">
          <li>Danh từ số ít (Singular Nouns)</li>
          <li>Danh từ số nhiều (Plural Nouns)</li>
        </ul>
        <p class="font-bold">Danh từ theo cách đếm:</p>
        <ul class="list-disc pl-4">
          <li>Danh từ đếm được (Countable Nouns)</li>
          <li>Danh từ không đếm được (Uncountable Nouns)</li>
        </ul>
      </mat-card>
    </mat-tab>
    <mat-tab label="3. Chia danh từ số nhiều">
      <mat-card class="mt-2">

        Danh từ + s<br />
        Danh từ -s + es<br />
        Danh từ -y + ies<br />
        Danh từ -f, fe + ves
      </mat-card>
    </mat-tab>
    <mat-tab label="4. Chức năng và vị trí">
      <mat-card class="mt-2">

        Làm chủ ngữ: <br>
        <h1>Danh từ (đầu câu) + Động từ</h1>
        Làm bổ ngữ: <br>
        <h1>Động từ / Giới từ + Danh từ</h1>
      </mat-card>
    </mat-tab>
    <mat-tab label="5. Sở hữu cách">
      <mat-card class="mt-2">

        <h1><b>Chủ sở hữu/Tên riêng +'s + danh từ thuộc sở hữu</b><br></h1>
        For example: Loc's website, Loc's phone...
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>
