<div class="p-4">
  <h1>Adjective - Tính từ</h1>
  <div class="text-center mb-4">
    <iframe class="inline-block" width="560" height="315" src="https://www.youtube.com/embed/Gbd-ojvZfMw"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <mat-tab-group>
    <mat-tab label="1. Định nghĩa">
      <mat-card class="mt-2">
        Tính từ là từ để chỉ tính chất, màu sắc, kích thước, phạm vi, mức độ, giới hạn...<br>
        <b>Chức năng</b>: Tính từ bổ nghĩa cho Danh từ, Đại từ, Động từ liên kết.<br>
        <b>Vị trí</b>: Tính từ đứng trước Danh từ, bổ nghĩa cho danh từ đó.<br>
        <i>For example: beautiful girl, this car, red hair...</i>
      </mat-card>

    </mat-tab>
    <mat-tab label="2. Phân loại">
      <mat-card class="mt-2">
        <ul class="pl-4 list-disc">
          <li>Tính từ miêu tả: chỉ tính chất, màu sắc, kích cỡ.</li>
          <li>Tính từ giới hạn: chỉ số lượng, khoảng cách, tính chất sở hữu ( 1 book, the first person 
              , your farther )
          </li>
        </ul>
      </mat-card>
    </mat-tab>
    <mat-tab label="3. Vị trí">
      <mat-card class="mt-2">

        Tính từ có 2 chức năng, với mỗi chức năng tính từ lại có các vị trí khác nhau.
        <br>
        <br>
        - Chức năng 1: Làm tính từ <br>
        (1) Đứng trước Danh từ (adj + N) <br>
        (2) Đứng sau something, everything, anything, nothing <br>
        For example: I want to tell you something interesting. <br>
        (3) Đứng sau Danh từ: Danh từ + Tính từ + Nhóm từ bổ nghĩa <br>
        For example: He wants a glass <u>full</u> of milk.
        <br>
        <br>
        - Chức năng 2: Làm Bổ nghĩa cho câu <br>
        (1) tobe / turn / become / get / look + Tính từ: làm Vị ngữ <br>
        For example: The weather becomes <u>cold</u> and <u>wet</u> <br>
        (2) Động từ + Tân ngữ + Tính từ <br>
        For example: The sun keeps us <u>warm</u>.
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>
