<div class="p-4">
  <h1>Adverb - Trạng từ</h1>
  <div class="text-center mb-4">
    <iframe class="inline-block" width="560" height="315" src="https://www.youtube.com/embed/cDvkCmloxmo"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <mat-tab-group>
    <mat-tab label="1. Định nghĩa">
      <mat-card class="mt-2">
        Trạng từ là từ bổ nghĩa cho động từ, tính từ hay một trạng từ khác trong câu.<br>
        Trạng từ đứng ngay trước Từ/Mệnh đề cần bổ nghĩa, nhưng có lúc có thể đứng đầu hoặc cuối câu.<br>
        Trạng từ + Từ/Mệnh đề cần bổ nghĩa.<br>
        <i>* Tính từ là từ bổ nghĩa do danh từ</i><br>
        <i>* Trạng từ là từ bổ nghĩa do động từ</i>
        For example: She sings <b>beautifully</b>.
      </mat-card>

    </mat-tab>
    <mat-tab label="2. Phân loại">
      <mat-card class="mt-2">
        - Trạng từ Đơn: very, too, almost, then...<br>
        - Tính từ + "ly" : Trạng từ đuôi "ly": slowly, quickly, clearly...<br>
        - Trạng từ kép: everywhere, somethimes, anyhow...<br>
        - Trạng từ là cụm từ: Next week, this morning...<br><br>

        <i>
            *Lưu ý: <br>
        </i>
        - Một số tính từ đuôi "ly" vẫn là tính từ (friendly, lonely...), một số tính từ và trạng từ giống nhau
        (hard, wrong, right, deep,...)<br>
        - Một số từ có 2 hình thức Trạng từ (Hard và Hardly = almost not, high và highly = very much...)
      </mat-card>
    </mat-tab>
    <mat-tab label="3. Vị trí và chức năng">
      <mat-card class="mt-2">

        - Trạng từ chỉ cách thức: đuôi "ly" _ cuối hoặc giữa câu<br>
        - Trạng từ chỉ thời gian: đầu hoặc cuối câu<br>
        - Trạng từ chỉ nơi chốn: đầu hoặc cuối câu<br>
        - Trạng từ chỉ tần suất: giữa câu, trước Trợ động từ.<br>
        - Trạng từ chỉ mức độ: trước Tính từ/ Trạng từ cần bổ nghĩa.<br><br>
        
        Chú ý: khi có dùng Động từ trong câu, ta phải dùng kèm Trạng từ (không phải dùng cùng Tính từ)!<br><br>

      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>
