<div class="p-4">
  <h1>Verb - Động từ</h1>
  <div class="text-center mb-4">
    <iframe class="inline-block" width="560" height="315" src="https://www.youtube.com/embed/zGQLleQbCZ4"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <mat-tab-group>
    <mat-tab label="1. Định nghĩa">
      <mat-card class="mt-2">
        Động từ là những từ dùng để chỉ Hành động và Trạng thái<br>

        <!-- <i>For example: beautiful girl, this car, red hair...</i> -->
      </mat-card>

    </mat-tab>
    <mat-tab label="2. Phân loại">
      <mat-card class="mt-2">
        Có 2 cách phân loại động từ<br>
        <br>
        - Cách 1: Ngoại động từ và Nội động từ<br>
        Ngoại động từ: diễn tả hành động tác động trực tiếp lên người, vật. Phải có tân ngữ (Danh từ hoặc Đại từ theo
        sau).<br>
        <h1>S + V + O</h1>
        Ngoại động từ + Danh từ / Đại từ
        <br>
        <br>
        Nội động từ: diễn tả hành động dừng lại ở người nói / người thực hiện hành động đó. Không cần thiết mang Tân
        ngữ.<br>
        <h1>S + V + (O)</h1>
        - Cách 2: Động từ thường và Động từ đặc biệt<br>
        Động từ thường: là động từ chỉ hành động.<br>
        <br>
        Động từ đặc biệt: bao gồm động từ tobe (am/is/are...), động từ khiếm khuyết (Can/Could/May/Might...), và trợ
        động từ (be, have, do...)
      </mat-card>
    </mat-tab>
    <mat-tab label="3. Vị trí và chức năng">
      <mat-card class="mt-2">
        Công thức S + V + O: Chủ ngữ + Động từ + Tân ngữ <br>
        - Động từ đứng sau chủ ngữ, đứng trước tân ngữ. <br>
        - Động từ tobe (am,is,are) không đi kèm với động từ thường (vì chúng rất ghét nhau)<br>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>
