<div class="p-4">
  <h1>Past continuous - Thì quá khứ tiếp diễn</h1>
  <div class="text-center mb-4">
    <iframe class="inline-block" width="560" height="315" src="https://www.youtube.com/embed/mCzSc4DBYjM"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <mat-tab-group>
    <mat-tab label="1. Cách dùng">
      <mat-card class="mt-2">
        Diễn tả hành động tại một thời điểm cụ thể, xác định trong quá khứ.<br>
        For example: I was having dinner with my parent at 7pm<br><br>

        Diễn tả hành động xảy ra liên tục trong một khoảng thời gian trong quá khứ.<br>
        For example: What were you doing from 3pm to 6pm yesterday ? I couldn't call you <br><br>

        Diễn tả một hành động đang xảy ra thì một hành động khác xen vào trong quá khứ.<br>
        For example: I was eating dinner when she came home <br><br>

        Diễn tả các hành động xảy ra song son trong quá khứ.<br>
        For example: I was studing english while She was calling her parents<br><br>

        Diễn tả hành động lặp đi lặp lại trong quá khứ và gây khó chịu cho người nói.<br>
        For example: He was always joking me<br><br>

      </mat-card>

    </mat-tab>
    <mat-tab label="2. Cấu trúc">
      <mat-card class="mt-2">
        <!-- <div class="mb-4"> -->
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip color="primary" selected>
            (+) S + was/were + V_ing + O
          </mat-chip>
          <mat-chip color="secondary" selected>
            (-) S + was/were + not + V_ing + O
          </mat-chip>
          <mat-chip color="accent" selected>
            (?) was/were + S + V_ing + O ?
          </mat-chip>
        </mat-chip-list>
        <!-- </div> -->
      </mat-card>
    </mat-tab>
    <mat-tab label="3. Trạng từ thường dùng">
      <mat-card class="mt-2">
        At that moment, At + mốc thời gian cụ thể trong quá khứ.
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>
